[Desktop Entry]
Name=Coffee
Exec=com.github.nick92.coffee
Icon=coffee-news
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;Feed;News;GNOME;GTK;
Keywords=News;Feed;
