#!/usr/bin/make -f

%:
	dh $@


override_dh_auto_clean:
	rm -rf debian/build

override_dh_auto_configure:
	mkdir -p debian/build
	cd debian/build && meson --prefix=/usr ../..

override_dh_auto_build:
	cd debian/build && ninja -v

override_dh_install:
	cd debian/build && DESTDIR=${CURDIR}/debian/com.github.nick92.coffee ninja install

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info





